<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Redes Sociales</h5>
          <p class="grey-text text-lighten-4">Por favor visitarnos en nuestros redes sociales</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="facebook.com" target="_blank">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="whatsapp.com" target="_blank">whatsapp</a></li>
            <li><a class="grey-text text-lighten-3" href="Instagram.com"target="_blank">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="Telegram.com"target="_blank">Telegram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright derechos reservados por pedidos
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>